{% extends "base.html" %}
{% block home %}

<section id="home-image">

{% for trainer in all_trainers %}
  <div class="trainer">
      <div class="content">
          <a href="/trainers/{{trainer.id}}">{{trainer.first_name}} {{trainer.last_name}}</a>
                   
        </div>
          <div>
            <form class="delete-form" action="/trainers/{{trainer.id}}/delete" method="POST">
                <button type="delete-button">Delete Trainer</button>
            </form>

        </div>




  </div>
{% endfor %}
</section>



{% endblock %}