{% extends "base.html" %}
{% block home %}

<section id="home-image">

{% for client in all_clients %}
  <div class="client">
      <div class="content">
          <label for="name">Name:</label>
          <a href="/clients/{{client.id}}">{{client.full_name()}}</a>
          <label for="first_name">Age:</label>
          <a href="/clients/{{client.id}}">{{client.age}}</a>
          <label for="trainer">Trainer:</label>
          <p><i>{{client.trainer.full_name()}}</i></p>
        </div>
          <div>
            <form class="delete-form" action="/clients/{{client.id}}/delete" method="POST">
                <button type="delete-button">Delete Client</button>
            </form>

      </div>

  </div>

{% endfor %}
</section>
{% endblock %}