<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">  
    <title>Document</title>
</head>

    <header>
        <div class="nav-bar">
    
        <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('clients.clients') }}">Clients</a></li>
            <li><a href="{{ url_for('clients.new_client') }}">New Client</a></li>
            <li><a href="{{ url_for('trainers.trainers') }}">Trainers</a></li>
            <li><a href="{{ url_for('trainers.new_trainer') }}">New Trainer</a></li>
        </ul>
        </nav>
    </header>
    
        {% block content %}
        {% endblock %}
    </div>
    {% block home %}
    {% endblock %}    

</html>